version: '3.5'
services:
    golang-tester:
        image: mkadiri/golang-tester
        container_name: golang-tester
        environment:
            - MYSQL_HOST=mysql
            - MYSQL_PORT=3306
            - MYSQL_USER=root
            - MYSQL_PASSWORD=root
            - MYSQL_DATABASE=golang_test
            - CORS_ALLOWED_ORIGINS=*
            - PROJECT_URL={{cookiecutter.repo_base_name}}/{{cookiecutter.repo_name}}
        volumes:
            - ./database/migrations:/migrations
            - ./database/dev-fixtures:/dev-fixtures
            - ~/go:/go
        restart: always
    mysql:
        image: mysql
        container_name: mkadiri-mysql
        ports:
            - 3307:3306
        environment:
            - MYSQL_ROOT_PASSWORD=root
        volumes:
            - mysql-data:/var/lib/mysql
        command: --default-authentication-plugin=mysql_native_password
        restart: always
volumes:
    mysql-data:
networks:
    my-app:
        name: my-app
        driver: bridge